body{
margin: 0;
padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol, li{
padding: 0;
margin: 0; 
}

.container{
margin: 0 auto;
max-width: 1440px;
}

.header{
background: #EDF2EC;
}

.header-wrapper{
margin: 0 auto;
max-width: 1440px;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 42px 110px;
}

.nav{
display: flex;
width: 450px;
}

.nav-list{
display: flex;
align-items: center;
list-style: none;
}

.nav-item{
display: block;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 50px;
}

.nav-link{
text-decoration: none;
color: #000000;
padding-right: 46px;
}

.nav-list > .nav-item:first-child > .nav-link {
color: #E06733;
}

.nav-list > .nav-item:last-child > .nav-link {
padding: 0;
}

.nav-link > a:active{
color: #E06733;
}

.logo{
display: flex;
justify-content: flex-end;
align-items: baseline;
list-style: none;
}

.text_logo{
font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #000000;
}

.img_logo{
width: 20px;
height: 20px;
}

.welcome{
background: #EDF2EC;
}

.welcome_section{
display: flex;
align-items: center;
justify-content: space-between;
padding: 62px 109px;
}

.leaf{
width: 448.8px;
height: 407.36px;
}

.welcome_text{
width: 549px;
height: 340px;
}

.we_grow{
font-family: 'Inter';
font-weight: 700;
font-size: 45px;
line-height: 50px;
color: #717171;
}

.green_plants{
color: #499A18;
}

.lorem_text1{
font-family: 'Inter';
font-weight: 400;
font-size: 20px;
line-height: 35px;
color: #636060;
}

.button{
display: flex;
align-items: center;
justify-content: center;
padding: 14px 27px;
font-family: 'Inter';
border: 2px solid #E06733;
border-radius: 10px;
width: 158px;
height: 44px;
background-color:#EDF2EC;
color: #000000;
cursor: pointer;
}

.about_section{
display: flex;
align-items: center;
justify-content: space-between;
padding: 93px 109px;
}

.we_are{
width: 463px;
height: 102px;
font-family: 'Inika';
font-weight: 400;
font-size: 40px;
line-height: 52px;
color: #499A18;
}

.orange{
width: 463px;
height: 102px;
font-family: 'Inika';
font-weight: 400;
font-size: 40px;
line-height: 52px;
color: #E06733;
}

.lorem_text2{
width: 605px;
height: 208px;
font-family: 'Inter';
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #636060;
}

.houseplants{
width: 464px;
height: 479px;
}

.service{
background: #EDF2EC;
padding: 40px 109px 121px;
}

.service_content{
display: flex;
align-items: center;
justify-content: space-between;
width: 1007px;
height: 94px;
}

.service_text{
font-family: 'Inika';
font-weight: 400;
font-size: 40px;
line-height: 52px;
color: #499A18;
}

.service_and{
font-family: 'Inika';
font-weight: 400;
font-size: 40px;
line-height: 52px;
color: #499A18;
}

.service_btns{
display: flex;
align-items: center;
justify-content: space-between;
width: 559px;
}

.button2{
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #E06733;
border-radius: 5px;
width: 161px;
height: 50px;
background-color:transparent;
}

.button_text{
font-family: 'Inika';
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #E06733;
}

.services{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 90px;
flex-wrap: wrap;
}

.service_iteam1{
margin-top: 55px;
width: 330px;
height: 450px;
}

.service_iteam1:nth-child(1), .service_iteam1:nth-child(2), .service_iteam1:nth-child(3){
margin: 0px;
}

.service_img1{
display: block;
width: 329px;
height: 350px;
border-radius: 20px 20px 0px 0px;
}

.rectangle1{
text-align: center;
border: 1px solid #E3E1D5;
border-radius: 0px 0px 20px 20px;
font-family: 'Inter';
padding-bottom: 30px;
}

.garden_text{
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #E06733;
margin: 10px 0px 0px 0px;
} 
.lorem_text3{
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #717171;
margin: 10px 0px 0px 0px;
}



.prices_wrapper{
padding: 40px 109px 109px 115px;
display: flex;
justify-content: space-between;
}

.prices_title{
font-family: 'Inter';
font-weight: 700;
font-size: 40px;
line-height: 48px;
margin: 0px;
}

.prices_items{
border: 1px solid #E3E1D5;
border-radius: 20px;
padding: 34px 41px;
margin-top: 60px;
width: 332px;
height: 282.01px;
}

b

.footer{
}
 
.footer_content{
align-items: center;
display: flex;
justify-content:space-between;
width: 1222px;
height: 50px;
left: 109px;
top: 40px;
}
.year,.git{
top: calc(50% - 50px/2);
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 50px;
text-decoration: none;
color: #000000;
}
.rsschool{
height: 50px;
left: 42.71%;
right: 42.64%;
top: calc(50% - 50px/2);
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 50px;
color: #000000;
text-decoration: none;
}

.social{
width: 188px;
height: 50px;
left: 1143px;
top: 40px;
}

.inst .fb .tw .pn{
width: 32px;
height: 32px;
left: 52px;
top: 9px;
}













/*  


.service_iteam1{
width: 330px;
height: 450px;
left: 109px;
top: 224px;
}

.garden_text{
justify-content: center;
width: 120px;
height: 24px;
left: 214px;
top: 584px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #E06733;
}

.lorem_text3{
position: flex;
width: 267.19px;
height: 20px;
left: 139.91px;
top: 618px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #717171;
}

.service_img1{
width: 329px;
height: 350px;
left: 110px;
top: 224px;
background: url(pexels-frank-meriño-3612089.jpg);
border-radius: 20px 20px 0px 0px;
}

.rectangle1{
justify-content: center;
box-sizing: border-box;
width: 330px;
height: 100px;
left: 109px;
top: 574px;
border: 1px solid #E3E1D5;
border-radius: 0px 0px 20px 20px;
}

.service_iteam2{
position: absolute;
width: 330px;
height: 450px;
left: 555px;
top: 224px;
}
*/













